@import url(reset.css);
:root {
    --azul: #3772ff;
    --branco: #ffffff;
    --rosa-botao: #fc7071;
    --cinza-fonte: #737380;
    --cinza-fundo: #f6f6f6;
    --cinza-input: #bcbcbc;
    --fundo-rodape: #36d6ad;
    --familia-fonte: 'Poppins';
}

body {
    box-sizing: border-box;
    background: url(../img/Fundo.svg) no-repeat;
    font-family: var(--familia-fonte);
    font-weight: 400;
}
@media screen and (min-width:600px){
    body{
        background-size: 72% auto;
    }
}
@media screen and (min-width: 1023px) {
    body{
        background-size: 50% auto; 
    }
}
@media screen and (min-width: 1200px) and (max-width:1440px) {
    body{
        background-size: 45% auto; 
    }
}