@import url(reset.css);
:root {
    --azul: #3772ff;
    --branco: #ffffff;
    --rosa-botao: #fc7071;
    --cinza-fonte: #737380;
    --cinza-fundo: #f6f6f6;
    --cinza-input: #bcbcbc;
    --fundo-rodape: #36d6ad;
    --familia-fonte: 'Poppins';
}

body {
    box-sizing: border-box;
    background-image: url(../img/Fundo.svg);
    background-repeat: no-repeat;
    background-size: 97% auto;
    font-family: var(--familia-fonte);
    font-weight: 400;
}