@import url(../css/footer.css);
@import url(../css/header.css);
@import url(componentes/input.css);
@import url(componentes/botao.css);

body {
    background-color: var(--branco);
    background: url(../img/Fundo_main.svg) no-repeat, url(../img/Patas.png) no-repeat, url(../img/Fundo.svg) no-repeat;
    background-size: 20%, 33%, 97%;
    background-position: 0% 70%, 100% 0%, 0% 0%;
    color: var(--azul);

}

.principal {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    padding: 0 1.5rem;
    margin-bottom: 105px;
}
.principal__imagem{
    width: 142px;
}

.banner__texto:first-child {
    margin-bottom: 1rem;
}

@media screen and (min-width:600px) {
    body {
        background: url(../img/Patas.png) no-repeat , url(../img/Fundo-main-tablet.svg) no-repeat, url(../img/Fundo.svg) no-repeat;
        background-size: 27%, 15%, 72%;
        background-position: 100% 0%, 100% 63%, 0% 0%;
    }
    .principal__imagem{
        width: 250px;
    }
    .principal{
        margin-bottom: 185px;
    }
    
}

@media screen and (min-width: 1023px) {
    body {
       
        background-size: 20%, 13%, 50%;
        
    }
}

@media screen and (min-width: 1200px) and (max-width:1440px) {
    body {
        background-size: 20%, 9%, 45%;
    }
}