.imagem_header{
    position: absolute;
    background: url(../img/Fundo.svg);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size:contain;
    width: 97vw;
    height: 100%;
    z-index: -1;
}
.imagem_patas{
    position: absolute;
    height: 31%;
    width: 37.5%;
    background: url(../img/Patas.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    right: 0;
    z-index: 1;
    background-size: contain;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    padding: 3rem 0;
    
}
.header__nav div{
    display: flex;
    align-items: center;
}

.icon {
    display: block;
    width: 25px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.nav__home {
    background-image: url(../img/Home.svg);
    margin-right: 50px;
}

.nav__posts {
    background-image: url(../img/Mensagens.svg);
    
}

.nav__user {
    background-image: url(../img/Usuário.svg);
    display: none;
}
.nav__logo{
    display:none;
}
@media screen and (min-width: 600px){
    .header{
        margin-bottom: 6rem;
    }
    .header__nav{
        padding: 3rem 2rem;
        justify-content: space-between;
    }
    .nav__logo{
        display: block;
        height: 32px;
        width: 128px;
    }
    .nav__home{
        margin: 0 65px;
    }
    .nav__user{
        height: 48px;
    }
    .imagem_header{
        width: 72vw;

    }
}
@media screen  and (min-width:1023px) and (max-width:1440px) {
  
    .header__nav{
        height: 56px;
        padding: 3rem 9%;
    }
    .imagem_header{
        width: 560px;
        height: 470px;
     
    }
    .nav__user{
        height: 56px;
    }
    
    
}