@import url(header.css);
@import url(footer.css);
@import url(./componentes/fichas.css);

body {
    background-color: var(--branco);
    color: var(--azul);
    background: url(../img/Fundo-Main-Cadastro.svg) no-repeat, url(../img/Patas.png) no-repeat, url(../img/Fundo.svg) no-repeat;
    background-size: 20%, 33%, 97%;
    background-position: 0% 70%, 100% 0%, 0% 0%;

}

.nav__user{
    visibility: visible;
    height: 40px;
    width: 40px;
}
.banner__texto{
    text-align: center;
    padding: 2rem 67px;
}
@media screen and (min-width:600px) {
    .banner__texto{
        padding: 0;
        font-size: 18px;
    }
    .banner__texto-mod{
        margin: .5rem;
        display: block;
        
    }
}
@media screen and (min-width:1023px) {
    .banner__texto-mod{
        
        display: inline;
    }
   
}