@import url(header.css);
@import url(footer.css);
@import url(./componentes/fichas.css);

body {
    background-color: var(--branco);
    color: var(--azul);
    
}

.nav__user{
    display: block;
    height: 40px;
    width: 40px;
}
.banner__texto{
    text-align: center;
    padding: 2rem 67px;
}
@media screen and (min-width:600px) {
    
}
@media screen and (min-width:1023px) {
  
}