@import url(header.css);
@import url(footer.css);
@import url(componentes/input.css);
@import url(componentes/botao.css);

body {
    background-color: var(--branco);
    color: var(--azul);
}
.imagem_patas{
    position: absolute;
    height: 178px;
    width: 135px;
    background: url(../img/Patas.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    right: 0;
    z-index: 1;
}


main {
    height: 100vh;
    background-image: url(../img/Fundo-Main-Cadastro.svg);
    background-size: 20% auto;
    background-position: 0% 90%;
    background-repeat: no-repeat;
}

.principal {
    text-align: center;
    padding: 0 1.5rem;
}

.box__esqueci {
    color: var(--rosa-botao);
    font-size: 12px;

}

.box__senha {
    margin-bottom: 1rem;
}

.banner__texto {
    margin: 56px 0 42px 0;
}