:root{
    --azul: #3772ff;
    --branco: #ffffff;
    --rosa-botao: #fc7071;
    --cinza-fonte: #737380;
    --cinza-fundo:#f6f6f6;
    --cinza-input:#bcbcbc; 
}
body{
    background-color: var(--azul);
    color: var(--branco);
    box-sizing: border-box;
    background-image: url(../img/Fundo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
  margin: 0;
  padding: 0;  
}
.header{
    height: 100%;
  
}
.header__nav{
    display: grid;
    grid-template-columns: 25% 25% 1fr;
    justify-items: center;
    padding: 2rem;
    height: 40px;
}

.icon{
    display: inline-block;
    width: 40px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.nav__home{
    background-image: url(../img/Home.svg);
}
.nav__posts{
    background-image: url(../img/Mensagens.svg);
}
.nav__user{
    background-image: url(../img/Usuário.svg);
    justify-self: flex-end;
}