@import url(../css/footer.css);
@import url(../css/header.css);
@import url(../css/componentes/botao.css);
body{
    background-color: var(--azul);
    color: var(--branco);
}
main {
    height: 100vh;
    margin-top: 3rem;
    background: url(../img/Fundo_main.svg), url(../img/Ilustração.png) ;
    background-position: right, 33% 105%;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 50%;

}
.principal {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.principal__banner {
    padding: 0 3.5rem;
}

.banner__titulo {
    margin-bottom: 1rem;
    font-size: 26px;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
}
